<div>
    <h1>book title is: {{libro.title}} - {{libro.author}}</h1>
    <hr>
    <h2>index: {{libro.description}}</h2>
    <h3>rating: {{libro.rating}}/10</h3>
    <hr>
    <a href="/books">go back</a>
    
</div>