

{{#each limon}} 
{{!-- i put limon because i named it that in the routes  --}}
    <div>
        <ul> 
            <li>{{title}}<button><a href="books/{{_id}}">{{_id}}</a></button></li>
        </ul>
    </div>
{{/each}}   